body{
    background-color: white;
}
.h1{
    text-align:center;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    text-align : center ;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 13px 17px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.sessions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.session-card {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.session-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.session-card.active {
    border: 2px solid blue;
}
.sequence-numbers {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.sequence-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.sequence-number label {
    font-weight: bold;
    margin-right: 5px;
}
.sequence-number input {
    border: none;
    background-color: transparent;
    text-align: right;
}
.last-message {
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}